#page-home {
    height: 100vh;
    background: url('../images/banner3.png') no-repeat;
    background-position: center;
}

#page-home header {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

#page-home header>nav>a {
    color: #ffffff;
    font-size: 17px;
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-home nav #signin,
#page-home nav #signup {
    background-color: #ffffff;
    color: #560D79;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 30px;
    display: inline-block;
    box-shadow: 0px 3px 3px
}

#page-home nav #signup:hover,
#page-home nav #signin:hover {
    background-color: #DBBDE0;
    transition: 400ms;
}

#page-home nav a:hover {
    color: #DBBDE0;
    transition: 400ms;
}