@media(max-width: 900px) {
    #page-home {
        background-position-y: -5vh;
    }

    #page-home .content {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    header>img {
        margin-right: 45px;
    }

    #page-home nav #signin,
    #page-home nav #signup {
        margin-top: 10px;
    }


}

